extends base

block content
  div#videoContainer(data-id=video._id)
    video(src="/" + video.fileUrl)

    div#videoControls

      div.videoControls__play
        button#play Play
        div.videoControls__time
          span#currentTime 00:00
          span  / 
          spna#totalTime 00:00

      input(type="range", step="1", value=0, min="0")#timeline

      div.videoControls__volume
        input(type="range", step="0.1", value=0.5, min="0", max="1")#volume
        button#mute Mute

      div
        button#fullscreen Enter Full Screen
  div
    p=video.description
    small=video.createdAt
  div
    small Uploaded By 
      a(href=`/users/${video.owner._id}`)=video.owner.name
  if String(video.owner._id) === String(loggedInUser._id)
    a(href=`${video._id}/edit`).upsideSpace Edit Video  &rarr;
    br
    a(href=`${video._id}/delete`) Delete Video  &rarr;
  if loggedIn
    div.video__add-comments
      form.video__comment-form#commentForm
        textarea(cols="30", rows="10", placeholder="Write a nice comment")
        button Add Comment
  div.video__comments
    ul
      for comment in video.comments.reverse()
        li.video__comment(data-id=comment._id)
          div
            i.fas.fa-comment
            span  #{comment.text}
          if String(comment.owner._id) === loggedInUser._id
            button ❌

block scripts
  script(src="/static/js/videoPlayer.js")
  if loggedIn
    script(src="/static/js/commentSection.js")


//- extends base

//- block content
//-   div#videoContainer(data-id=video._id)
//-     video(src="/" + video.fileUrl)
//-     div#videoControls
//-       button#play Play
//-       button#mute Mute
//-       input(type="range", step="0.1", value=0.5, min="0", max="1")#volume
//-       div
//-         span#currentTime 00:00
//-         span  / 
//-         spna#totalTime 00:00
//-       div
//-         input(type="range", step="1", value=0, min="0")#timeline
//-       div
//-         button#fullscreen Enter Full Screen
//-   div
//-     p=video.description
//-     small=video.createdAt
//-   div
//-     small Uploaded By 
//-       a(href=`/users/${video.owner._id}`)=video.owner.name
//-   if String(video.owner._id) === String(loggedInUser._id)
//-     a(href=`${video._id}/edit`).upsideSpace Edit Video  &rarr;
//-     br
//-     a(href=`${video._id}/delete`) Delete Video  &rarr;
//-   if loggedIn
//-     div.video__add-comments
//-       form.video__comment-form#commentForm
//-         textarea(cols="30", rows="10", placeholder="Write a nice comment")
//-         button Add Comment
//-   div.video__comments
//-     ul
//-       for comment in video.comments.reverse()
//-         li.video__comment
//-           i.fas.fa-comment
//-           span  #{comment.text}

//- block scripts
//-   script(src="/static/js/videoPlayer.js")
//-   if loggedIn
//-     script(src="/static/js/commentSection.js")
